<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('../views/partials/_navbar') %>
  <main class="news-container">
    <h1><%= source.title %></h1>
    <% for (let i = 0; i < news.length; i++) { %>
      <div class="new">
        <a href="<%= news[i].link %>" target="_blank"><h1><%= news[i].title %></h1></a>
        <p class="content"><%= news[i].summary %></p>
        <p class="date">
          <%= 
            `${news[i].isoDate.split('T')[0].split('-')[2]}/${news[i].isoDate.split('T')[0].split('-')[1]}/${news[i].isoDate.split('T')[0].split('-')[0]}` 
          %>
        </p>
      </div>
    <% } %>
  </main>
</body>
</html>
