<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/style/index.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('../views/partials/_navbar') %>
  <%- include('../views/partials/_modal_add_sub') %>
  <%- include('../views/partials/_modal_edit_sub') %>
  <%- include('../views/partials/_menu', { subs: subscriptions }) %>
  <main class="create-new">
    <h1>Publique sua Notícia</h1>
    <form autocomplete="off" id="new-form">
      <input class="text-input" type="text" name="title" placeholder="Manchete" required>
      <textarea class="textarea-input" rows="5" name="text" placeholder="Conteúdo" required></textarea>
      <div class="actions">
        <button class="primary-btn red" type="button">Descartar</button>
        <button class="primary-btn" type="submit">Publicar</button>
      </div>
    </form>
  </main>
</body>
<script src="/scripts/pub_new.js"></script>
</html>
